.tempContainer{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    font-family: 'CircularStdBook';
}

.tempItem{
    margin-bottom : 16px;
}

.tempItem:last-child{
    margin-bottom: 0;
}

.tempItem label{
    font-size: 12px;
}

.tempItem p{
    font-size: 14px;
    margin: 10px 0;
    font-family: 'CIRCULARSTD-MEDIUM';
}