.action-buttons{
    padding-left:0;
    display: flex;
    align-items: center;
}

.action-buttons li {
    padding: 1rem;
    transition: all 200ms linear;
    margin-right: 0.5em;
}

.action-buttons li:last-child{
    margin-right: 0;
}

.action-buttons li:hover{
    background: rgba(0, 0, 0, 0.1);
}