@font-face {
  font-family: CircularStd-Book;
  src: url(../../../assets//fonts/CircularStd-Book.woff);
}

.pageWidth {
  width: 87%;
  height: 87%;

  position: relative;
  top: 0%;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  padding: 64px 5% 5% 5% !important;
}

.titlePage {
  font-family: CircularStd-Book !important;
  margin: 0;
  height: auto;
  background: transparent;
}
.titlePage .titleOfPage {
  border: 2px solid transparent;
  height: 36px;
  line-height: 1.17;
  min-width: 10px;
  background: transparent;
  border-radius: 5px;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: CircularStd-Book !important;
}
.titlePageWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: revert;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}


.toggleBtns {
  position: relative;
  float: right;
}
.filterWrapper {
  margin-top: 0px;
  margin-bottom: 0px;
}

.table-filter {
  height: 44px;
  max-height: 44px;
}
.table-filter .makeStyles-select-42 {
  background-color: #ffffff;
}
.table-filter .MuiTabs-flexContainer {
  display: inline-block !important;
}
.table-filter .makeStyles-root-32 .MuiTab-root {
  line-height: 32px !important;
  background-color: #ffffff !important;
}
::-webkit-scrollbar,
::-moz-scrollbar,
::-o-scrollbar,
::-ms-scrollbar {
  -webkit-appearance: none;
  width: 0 !important;
}


.mainContentWrapper:after,
.mainContentWrapper:before {
  content: "";
  position: relative;
  clear: both;
  display: block;
}
.table-filter .MuiInputBase-root {
  background-color: #ffffff;
}
.table-filter .MuiSelect-selectMenu:active {
  color: #000000 !important;
}
.table-filter .MuiSelect-icon {
  fill: #000000 !important;
  transition: none;
}
.table-filter .Mui-focused .MuiSelect-icon {
  fill: #000000 !important;
}
.makeStyles-root-32 .MuiAppBar-root {
  height: 40px;
  padding: 2px;
}
.makeStyles-root-32 .MuiTab-textColorInherit.Mui-selected {
  margin: 0;
}
.table-filter .MuiGrid-item {
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Hide Printable Table */
.printableTable {
  display: none;
}

@media print {
  @page {
    size: A4 landscape;
    -webkit-print-color-adjust: exact;
    margin: 50px;
  }
  body {
    -webkit-print-color-adjust: exact;
  }
  .MuiAppBar-root,
  .pagination-container,
  .navigation_section,
  .filterWrapper,
  .view_tools,
  .MuiDrawer-root {
    display: none !important;
  }
  .gantt_container * {
    visibility: visible;
  }
  .pageWidth {
    width: 100% !important;
    height: 100% !important;
    padding: 0% 0% 0% 0% !important;
  }
  .dhx_grid-body,
  .gantt_task,
  .gantt_layout,
  .dhx_cal_header,
  .dhx_cal_container {
    overflow: visible !important;
  }
  .dhx_scheduler_week .dhx_cal_data {
    height: 27.5rem !important;
    overflow: hidden !important;
  }
  .dhx_cal_header .dhx_scale_bar {
    border-left-color: #dcdcdc !important;
  }
  .dhx_grid-content {
    width: fit-content !important;
  }

  /* Print Table Design */

  /* table { page-break-after:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group } */

  @page {
    margin: 40px;
    /* size:210mm 280mm; */
    size: A4 landscape;
  }
  html {
    margin: 0;
  }
  .isPrintable {
    display: none;
  }
  .printableTable {
    display: block;
  }
  .printableTable .tableTitle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: CircularStd-Book;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #323232;
  }
  .printableTable table {
    width: 100%;
    border: 1px solid #e4e4e4;

    border-collapse: collapse;
    border-spacing: 0;
    /* font-size: 1vw; */
  }
  .printableTable table thead {
    height: 56px;
  }
  .printableTable table thead th {
    border-bottom: 1px solid #e4e4e4;
    font-weight: 700;
    text-align: left;
    color: #323232;
    font-family: CircularStd-Book;
    font-size: 14px;
    height: 56px;
    padding: 0 10px;
  }
  .printableTable table tbody tr td.description {
    min-width: 300px;
    max-width: 360px;
  }
  .printableTable table tbody tr td {
    color: #323232;
    font-family: CircularStd-Book;
    font-weight: 400;
    font-size: 14px;
    border-bottom: 1px solid #e4e4e4;
    height: 52px;
    padding: 0 10px;
  }
  .printableTable table tbody tr:last-child > td {
    border-bottom: 0;
  }
  .printableTable table tbody tr td span.status {
    border-radius: 16px;
    height: 27px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 102px;
  }
  .printableTable table tbody tr td span[statustype="Arrived"] {
    background: #95d4f7 !important;
  }
  .printableTable table tbody tr td span[statustype="Installed"] {
    background: #ace18e;
  }
  .printableTable table tbody tr td span[statustype="In Transit"] {
    background: #f7e095;
  }
  .printableTable table tbody tr td span[statustype="Received"] {
    background: #e8a29c;
  }
  .printableTable table tbody tr td span[statustype="Delayed"] {
    background: #e8a29c;
  }
}
