@font-face {
  font-family: CircularXXTT-Regular;
  src: url('../../../../assets/fonts/CircularXXTT-Regular.eot');
  src: url('../../../../assets/fonts/CircularXXTT-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../../../assets/fonts/CircularXXTT-Regular.woff') format('woff'),
       url('../../../../assets/fonts/CircularXXTT-Regular.ttf') format('ttf'),
       url('../../../../assets/fonts/CircularXXTT-Regular.svg#svgFontName') format('svg'); 
}

.dropbtn {
  background-color: transparent;
  color: white;
  margin: 5px 0;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;  
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.dropbtn:hover, .dropbtn:focus {
    background-color:rgba(242, 242, 242, 0.64);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #fdfdfd; */
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    /* padding: 0 0.5px 9px; */
    min-width: 160px;
    overflow: auto;
    z-index: 1;
    border-radius: 2px;  
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);  
    border: solid 0.5px #dcdcdc;  
    background-color: #fff;
  }
  
  .dropdown-content button {
    color: #323232;
    padding: 0px 14px;
    text-decoration: none;
    display: flex;
    border: 0;
    outline: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    text-align: left;
    height: 37px;
    justify-content: flex-start;
    align-items: center;
    font-family: CircularXXTT-Regular;
    font-size: 14px;
  }

  .dropdown-content button:hover{
    background: rgba(205, 205, 205, 0.3);
  }
  
  
  .show {
    display: block;
    z-index: 1;
    left: -171px;
    top: 100%;
    width: 211px;
}
  
  .dropButton{
      margin: 0;
      padding: 0;
      border: 0;
      outline: none;
      background: transparent;
  }

  .dhx_grid-cell, .dhx_grid-row {
    overflow: inherit;
  }
  .tableViewContainer .dhx_grid-cell[dhx_col_id="ord_id"] ,
  .tableViewContainer .dhx_grid-row[dhx_col_id="ord_id"] {
    overflow: inherit !important;
  }
  .tableViewContainer .dhx_grid-cell[dhx_col_id="ord_id"] .dhx_grid-cell__content,
  .tableViewContainer .dhx_grid-row[dhx_col_id="ord_id"] .dhx_grid-cell__content {
    overflow: initial !important;
  }

  
/* 
Table Header Version 02
 */
 .filterToolbar {
  height: 66px;
  background: #FFFFFF;
  border: 1px solid #DDE3E7;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filterToolbar .tableViews{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
}
.filterToolbar .tableViews .groupByField{
  height: 40px;
  width: 92px;
  background: #FFFFFF;
  border: 2px solid #DCDCDC;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
}
.filterToolbar .tableViews .toggleViews .btnHalfView {
  background: #ffffff;
  border-radius: 100px;
  width: 48px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  border: 2px solid #DCDCDC;
}
.filterToolbar .tableViews .toggleViews {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 9px;
}
.filterToolbar .tableViews .toggleViews button {
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
.filterToolbar .tableViews .toggleViews .btnHalfView span {
  height: 16px;
  width: 16px;
  display: inline-block;
  border: 2px solid #2C3E50;
  border-radius: 3px;
  position: relative;
}
.filterToolbar .tableViews .toggleViews .btnHalfView span::after {
  content: "";
  background: #2C3E50;
  width:2px;
  height: 18px;
  position: absolute;
  top: -1px;
  left: 7px;
}
.filterToolbar .tableViews .toggleViews .btnFullView {
  background: #ffffff;
  border-radius: 100px;
  width: 48px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  border: 2px solid #DCDCDC;
}
.filterToolbar .tableViews .toggleViews .btnFullView span {
  height: 16px;
  width: 16px;
  display: inline-block;
  border: 2px solid #2C3E50;
  border-radius: 3px;
  position: relative;
}
.filterToolbar .tableViews .toggleViews .btnFullView span::after {
  content: "";
  width:9px;
  height: 18px;
  position: absolute;
  background: #2C3E50;
  top: -1px;
  left: -1px;
}
.filterToolbar .actionTabs{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 6px 0 0;
}
.filterToolbar .actionTabs .actionButtons {}
.filterToolbar .actionTabs .actionButtons button {
  background: #EEEFF4;
  border-radius: 100px;
  width: 48px;
  height: 40px;
  outline: none;
  border: 2px solid #EEEFF4;
  margin: 0 8px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.filterToolbar .actionTabs .actionButtons .btnEdit {}
.filterToolbar .actionTabs .actionButtons .btnPrint {}
.filterToolbar .actionTabs .toggleTabsFilter {
  margin: 0 8px 0 8px;
}

.filterToolbar .tableViews .toggleViews button.activeBtn {
  background: #19838C;
  border-radius: 100px;
  width: 48px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  border: 2px solid #19838C;
  transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
}
.filterToolbar .tableViews .toggleViews button.activeBtn span {
  height: 16px;
  width: 16px;
  display: inline-block;
  border: 2px solid #ffffff;
  border-radius: 3px;
  position: relative;
}
.filterToolbar .tableViews .toggleViews button.activeBtn span::after {
  content: "";
  background: #ffffff;
  width:2px;
  height: 18px;
  position: absolute;
  top: -1px;
  left: 7px;
}
.filterToolbar .tableViews .toggleViews button.activeBtn.btnFullView span::after { 
  content: "";
  width:9px;
  height: 18px;
  position: absolute;
  background: #FFFFFF;
  top: -1px;
  left: -1px;
}


/* Top Header Search and title */
.topTitleSearchWrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .MuiGrid-spacing-xs-3 > .MuiGrid-item {
  padding: 0 12px !important;
} */


/* 
Table Status Chips 
*/

.statusChip {
  width: 110px;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  box-shadow: inset 0px -1px 0px #dde3e7;
  border-radius: 16px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  font-family: CircularXXTT-Regular;
  font-size: 14px;
}

.Received {
  background: #60B8FB;
}
.Arrived {
  background: #60B8FB;
}
.Manufactured {
  background: #e8a29c;
}
.Ordered {
  background: #f7e095;
}
.Packed {
  background: #ace18e;
}
.InTransit {
  background: #f7e095;
}
.Installed {
  background: #ACE18E;
}
.Delayed {
  background: #e8a29c;
}

